name: Continous Integration
on:
  push:
    branches:
      - master
      - '[0-9]+\-[0-9]+\-x'
      - 'MTC\-[0-9]+'
      - 'MTC\-[0-9]+-bugfix'
  pull_request:

jobs:
  integration:
    name: Integration tests
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        php-version: [ 7.4, 8.0 ]
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Setup PHP Environment
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php-version }}
      - name: Install composer requirements.
        run: composer install
      - name: Check PHP CS
        run: ./vendor/bin/php-cs-fixer fix --config .php-cs-fixer.php --dry-run --using-cache no --show-progress dots -v
      - name: Test
        run: ./vendor/bin/phpunit
